.clothes__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.clothes__items {
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
}
/*.clothes__section {
  width: 75%;
  float: right;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clothes__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}*/
