.card {
  position: relative;
}

.card__image {
  width: 100%;
  height: auto;
  gap: 20px;
  border-radius: 15px;
}

.card__title {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  z-index: 1;
  color: rgba(0, 0, 0, 0.3);
}
