.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #fff;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 34px 36px;
  flex-direction: column;
  align-items: center;
}

.modal__content:item {
  background-color: #fff;
  width: 670px;
  height: 280px;
  border-radius: 2px;
  padding: 34px 36px;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.modal__title {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  height: 20px;
  margin: 0px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  border: none;
  align-items: column;
}

.modal__fieldset {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  margin-top: 0;
  padding: 0;
}

.modal__fieldset:item {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  margin-top: 0;
  padding: 0;
  margin-left: 50px;
}

.modal__warning {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  padding: 0;
  flex-direction: column;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 40px;
  font-weight: bold;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  color: rgba(0, 0, 0, 1);
  margin-top: 0px;
  margin-bottom: 10px;
}

.modal__label:last-child {
  margin-bottom: 10px;
}

.modal__input {
  font-size: 16px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  box-sizing: border-box;
  width: 440px;
  height: 42px;
  margin: 0;
  max-width: 100vh;
}

.modal__input:last-child {
  margin-bottom: 0;
}

.modal__input::placeholder {
  transform: translateY(8px);
}

.modal__labelSelect {
  color: #808080;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  margin: 0;
}

.modal__labelSelect > div {
  margin: 5px;
}

input[type="radio"]:checked {
  background-color: #000;
  content: url("../../images/radioButton.svg");
}

input[type="radio"] + label {
  color: #808080;
}

input[type="radio"]:checked + label {
  color: #000;
  content: url("../../images/radioButton.svg") no-repeat;
}

.modal__close {
  margin-top: -30px;
  margin-left: 490px;
  background-color: transparent;
  border: none;
  position: absolute;
  outline: none;
  width: 20px;
  height: 20px;
  font-size: 24px;
  transition: opacity 0.2s linear;
  font-weight: bold;
}

.modal__close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__save {
  height: 36px;
  width: 124px;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  border: none;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal__delete {
  font-size: 17px;
  background-color: #fff;
  height: 24px;
  width: 100%;
  border-radius: 1px;
  cursor: pointer;
  border: none;
  pointer-events: all;
  color: rgba(255, 77, 0, 1);
  margin-bottom: 10px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  display: center;
  padding: 0px;
  font-weight: bold;
}

.modal__deleteItem {
  background-color: #fff;
  height: 24px;
  width: 100%;
  border-radius: 1px;
  cursor: pointer;
  border: none;
  pointer-events: all;
  color: rgba(255, 77, 0, 1);
  margin-bottom: 10px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.modal__cancel {
  background-color: #fff;
  height: 24px;
  width: 101px;
  border-radius: 1px;
  cursor: pointer;
  border: none;
  pointer-events: all;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-left: 170px;
  padding: 0px;
  font-weight: bold;
}

.modal__align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__save:hover {
  opacity: 0.5;
}

@media screen and (max-width: 590px) {
  .modal__fieldset {
    margin-bottom: 25px;
  }

  .modal__close {
    margin-left: 360px;
    width: 26px;
    height: 26px;
  }

  .modal__content {
    height: 455px;
    width: 375px;
  }

  .modal__title {
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    width: 118px;
    height: 20px;
  }

  .modal__input {
    width: 343px;
    height: 52px;
  }

  .modal__input::placeholder {
    transform: translateY(11px);
  }

  .modal__save {
    height: 44px;
    width: 343px;
    margin: 0;
  }
}
