.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__name {
  text-align: center;
  position: relative;
  top: -330px;
  background-color: #fff;
  color: #838383;
  width: 99px;
  height: 25px;
  margin-left: 100px;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
}

.like__button {
  height: 8vh;
  width: 8vh;
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background: transparent;
  background-repeat: no-repeat;
}

.heart {
  position: relative;
  right: -194px;
  height: 37px;
}

.heart__filled {
  position: relative;
  right: -194px;
  height: 37px;
  fill: #000;
}

@media screen and (max-width: 590px) {
  .card__image {
    height: 164px;
    width: 164px;
  }
}
