.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 34px 36px;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  border: none;
  align-items: column;
}

.modal__fieldset {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  color: rgba(0, 0, 0, 1);
  margin: 0px;
}

.modal__label:last-child {
  margin-bottom: 10px;
}

.modal__input {
  font-size: 14px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  box-sizing: border-box;
  width: 440px;
  height: 42px;
  margin: 0px;
}

.modal__input:last-child {
  margin-bottom: 0px;
}

.modal__close {
  margin-top: -20px;
  margin-left: 480px;
  background-color: transparent;
  border: none;
  position: absolute;
  outline: none;
  width: 20px;
  height: 20px;
  font-size: 24px;
  transition: opacity 0.2s linear;
}

.modal__close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__save {
  height: 36px;
  width: 124px;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  border: none;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal__save:hover {
  opacity: 0.5;
}
